@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Federo&display=swap");
@import url("https://fonts.googleapis.com/css?family=Libre+Caslon+Text&display=swap");
body {
  padding: 0;
  margin: 0; }

* {
  box-sizing: border-box; }

.video-title h1 {
  font: 16px/21px Roboto,sans-serif;
  text-decoration: none;
  color: #454851;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.4px; }

.slider-location h3, .slider-diff .tailor h3,
.slider-diff .exq-service h3,
.slider-diff .best-exp h3, .form-footer h3 {
  font: 24px Federo,sans-serif;
  color: #171d1c;
  font-weight: bold; }

.slider-location p, .slider-location .btn-now, .slider-diff .tailor p,
.slider-diff .exq-service p,
.slider-diff .best-exp p, .form-footer input, .form-footer .btn-footer, .all-list ul li a, .all-list ul li h4 {
  font: 15.3px/22px Roboto,sans-serif;
  color: #454851;
  font-weight: 300; }

.wrapper {
  max-width: 1406px;
  min-width: 320px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  margin: auto; }

header {
  background: white;
  width: 100%;
  margin-top: 25px; }

#burg a {
  display: block;
  width: 47px;
  margin-right: 2%; }

#burg .logo-mob {
  font-family: Oleo Script Swash Caps, cursive;
  font-size: 24px;
  font-weight: 400;
  text-decoration: none;
  width: 161px;
  color: white; }

#burg {
  width: 100%;
  background: #232323;
  padding: 7.5px 0 7.5px 2%;
  display: flex;
  justify-content: space-between;
  background: #4485c1ed; }
  #burg a:hover {
    border: 1px solid white; }
  #burg span {
    display: flex;
    margin: 8px;
    width: 30px;
    height: 1px;
    background: white;
    z-index: 999; }

#desktop {
  display: none; }

#mobile {
  text-align: center; }

.mobile-tab {
  display: flex;
  width: 100%;
  background: #4485c1ed;
  justify-content: center; }

.mobile-tab a {
  font: 16px/21px Roboto,sans-serif;
  text-decoration: none;
  color: #eeeff3;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  transition: 0.3s linear; }
  .mobile-tab a a:hover {
    background: #06948070; }

.mobile-tab li {
  list-style-type: none;
  margin: 5% 5%; }

.mobile-tab ul {
  padding: 5% 0;
  width: 170px; }

@media (min-width: 768px) {
  .mobile-tab, #burg, #mobile {
    display: none; }
  header {
    margin: 25px 0; }
  .bar {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center; }
  .mobile-bar {
    display: none; }
  #desktop {
    display: flex;
    justify-content: center;
    width: 100%; }
    #desktop ul {
      display: flex;
      width: 100%;
      list-style-type: none;
      padding: 0;
      margin: 0;
      justify-content: space-around; }
      #desktop ul li {
        margin-left: auto;
        position: relative; }
        #desktop ul li .list {
          color: #171d1c;
          font-family: Oleo Script Swash Caps, cursive;
          font-size: 36px;
          font-weight: 400;
          line-height: 21px; }
        #desktop ul li a {
          font: 16px/21px Roboto,sans-serif;
          text-decoration: none;
          color: #454851;
          font-weight: 500;
          text-transform: uppercase;
          letter-spacing: 0.4px;
          padding: 10px;
          transition: 0.2s linear;
          border-radius: 8px; }
        #desktop ul li a:hover {
          background: #06948070; }
      #desktop ul li:last-child {
        margin-right: auto; }
      #desktop ul li:nth-child(n+2):after {
        content: "";
        background: url(../images/romb.png);
        position: absolute;
        width: 7px;
        height: 7px;
        left: -40px;
        top: 25.5%; } }

@media (max-width: 1200px) {
  #desktop ul li:nth-child(n+2):after {
    left: -20px; } }

@media (max-width: 925px) {
  #desktop ul li:nth-child(n+2):after {
    left: -10px; } }

@media (max-width: 910px) {
  #desktop ul {
    flex-direction: column;
    align-items: center; }
    #desktop ul li:last-child {
      margin-right: 0;
      margin-top: 20px; }
    #desktop ul li {
      margin-left: 0;
      margin: 15px 0; }
    #desktop ul li:nth-child(n+2):after {
      background: none; } }

main {
  width: 100%;
  background: #ecf0f1; }

.video-title {
  z-index: 0;
  display: flex;
  justify-content: center;
  flex-basis: 100%;
  height: 100%;
  background: url(../images/Layer_3.jpg) no-repeat center;
  background-size: cover; }
  .video-title h1 {
    margin: 391px 0;
    font-size: 60px;
    color: #ffffff; }

@media (max-width: 719px) {
  .video-title h1 {
    font-size: 32px;
    margin: 280px 0; } }

@media (max-width: 595px) {
  .video-title {
    z-index: auto; } }

@media (max-width: 403px) {
  .video-title h1 {
    font-size: 22px;
    margin: 180px 0; } }

.form {
  width: 100%;
  margin: 50px 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center; }
  .form form {
    background: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transform: translateY(-88%);
    padding: 70px 0;
    width: 970px;
    margin: 0 20px; }
  .form label {
    margin-left: 19px; }
  .form label:first-child {
    margin-left: 0; }
  .form input,
  .form select {
    width: 191px;
    height: 32px;
    border: none;
    outline: none;
    background: none;
    border-bottom: 1px solid #cccccc;
    color: #696161de;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    padding: 5px;
    position: relative; }
  .form input:hover {
    color: #454851;
    border-color: #454851; }
  .form select:hover {
    color: #454851;
    border-color: #454851; }
  .form select:last-child {
    margin-left: 19px; }
  .form .sel-name-one::after {
    content: url(../images/dropdown_copy_2.png);
    position: absolute;
    left: 22%;
    top: 44%;
    background: white; }
  .form .sel-name-two::before {
    content: url(../images/dropdown_copy_2.png);
    position: absolute;
    left: 89%;
    top: 44%;
    background: white;
    z-index: 1; }
  .form .sel-name-two::before {
    content: url(../images/dropdown_copy_2.png);
    position: absolute;
    left: 89%;
    top: 44%;
    background: white;
    z-index: 1; }
  .form .calend-first::before {
    content: url(../images/dropdown_copy_2.png);
    position: absolute;
    left: 44%;
    top: 44%;
    background: white; }
  .form .calend-second::before {
    content: url(../images/dropdown_copy_2.png);
    position: absolute;
    left: 65.5%;
    top: 44%;
    background: white; }
  .form .btn-kal {
    width: 41px;
    height: 40px;
    background-color: #f31131;
    border-radius: 26px;
    padding: 3px;
    border: 0;
    margin-left: 30px;
    color: #ffffff;
    font-size: 30px;
    font-weight: 400; }

@media (max-width: 1039px) {
  .form form {
    flex-direction: column;
    width: 500px;
    border: 2px solid dodgerblue;
    margin-top: 185px; }
    .form form label {
      margin-bottom: 20px;
      margin-left: 0; }
  .form.form select {
    margin-left: 0; }
  .sel-name-one.sel-name-one::after {
    left: 66%;
    top: 20%; }
  .sel-name-two.sel-name-two::before {
    left: 66%;
    top: 60%;
    z-index: 1; }
  .calend-first.calend-first::before {
    left: 66%;
    top: 33.5%; }
  .calend-second.calend-second::before {
    left: 66%;
    top: 47%; }
  .form .btn-kal {
    margin-left: 0; } }

@media (max-width: 543px) {
  .form form {
    width: 300px;
    margin: 0 5px;
    margin-top: 200px; }
  .sel-name-one.sel-name-one::after {
    left: 77%;
    top: 20%; }
  .sel-name-two.sel-name-two::before {
    left: 77%;
    top: 60%;
    z-index: 1; }
  .calend-first.calend-first::before {
    left: 83%;
    top: 33.5%; }
  .calend-second.calend-second::before {
    left: 83%;
    top: 47%; }
  .wrapper {
    padding: 0 10px; } }

@media (max-width: 543px) {
  .form form {
    width: 240px;
    margin: 0 5px;
    margin-top: 240px; }
  .sel-name-one.sel-name-one::after {
    left: 83%;
    top: 20%; }
  .sel-name-two.sel-name-two::before {
    left: 83%;
    top: 60%;
    z-index: 1; } }

.slider {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin-top: -150px; }

.slider-title {
  width: 100%; }
  .slider-title h2 {
    color: #171d1c;
    font-family: 'Libre Caslon Text', serif;
    font-size: 48px;
    text-align: center;
    position: relative;
    margin: 100px 0 18px 0; }

@media (max-width: 500px) {
  .slider-title h2 {
    font-size: 32px; } }

.slaid-holidays,
.slaid-escapes,
.slaid-city {
  display: flex;
  justify-content: center; }

.slaid-first {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 360px;
  height: 300px;
  background: url(../images/Layer_14.png) no-repeat; }

.slaid-second {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 360px;
  height: 300px;
  background: url(../images/Layer_15.png) no-repeat; }

.slaid-third {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 360px;
  height: 300px;
  background: url(../images/Layer_16.png) no-repeat; }

.first-slaid,
.second-slaid,
.third-slaid {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 100px;
  background: #ffffff;
  margin-bottom: 30px; }

.third-slaid span {
  padding: 18px 70px;
  border: 1px solid #cccccc;
  color: #454851;
  font-family: Playfair Display,sans-serif;
  font-size: 24px;
  font-weight: bold; }

.first-slaid span {
  padding: 18px 25px;
  border: 1px solid #cccccc;
  color: #454851;
  font-family: Playfair Display,sans-serif;
  font-size: 24px;
  font-weight: bold; }

.second-slaid span {
  padding: 18px 47px;
  border: 1px solid #cccccc;
  color: #454851;
  font-family: Playfair Display,sans-serif;
  font-size: 24px;
  font-weight: bold; }

@media (max-width: 1019px) {
  .slider {
    margin-top: -360px; } }

@media (max-width: 397px) {
  .slaid-second,
  .slaid-first,
  .slaid-third {
    width: 320px;
    height: 260px;
    background-size: 320px; }
  .first-slaid,
  .second-slaid,
  .third-slaid {
    width: 223px; }
  .first-slaid span, .second-slaid span, .third-slaid span {
    padding: 21px;
    font-size: 18px; } }

.slider-location {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  transition: 0.3s linear; }
  .slider-location p {
    margin: 12px 0px 26px 20px;
    width: 238px;
    height: 82px;
    overflow: hidden; }
  .slider-location .card-thalie,
  .slider-location .card-kapalua,
  .slider-location .card-jaguar,
  .slider-location .card-casa {
    display: flex;
    background: white;
    width: 550px; }
  .slider-location .img-thalie,
  .slider-location .img-kapalua,
  .slider-location .img-jaguar,
  .slider-location .img-casa {
    display: flex;
    flex-wrap: wrap;
    width: 278px; }
  .slider-location .thalie-span-number-three {
    margin-left: 23px;
    background: url(../images/icon/beachfront.png) no-repeat;
    padding-left: 31px;
    position: relative;
    vertical-align: middle; }
  .slider-location .thalie-span-number-three:hover:after {
    content: "Beachfront";
    background: url(../images/icon/Rounded_Rectangle_2.png);
    position: absolute;
    left: 19px;
    top: 0px;
    color: #ffffff;
    width: 81px;
    height: 20px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .slider-location .btn-now {
    width: 120px;
    height: 40px;
    border-radius: 20px;
    border: 0;
    background-color: #f31131;
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1.05px;
    margin: 35px 0 0 20px;
    transition: 0.3s linear; }
  .slider-location .btn-now:hover {
    background-color: #5552eb; }
  .slider-location .thalie-span-number-one,
  .slider-location .casa-span-number-one,
  .slider-location .kapalua-span-number-one,
  .slider-location .jaguar-span-number-one {
    margin-left: 23px;
    background: url(../images/icon/bed.png) no-repeat left center/auto 16px;
    padding-left: 31px; }
  .slider-location .thalie-span-number-two,
  .slider-location .casa-span-number-two,
  .slider-location .kapalua-span-number-two,
  .slider-location .jaguar-span-number-two {
    margin-left: 23px;
    background: url(../images/icon/bath.png) no-repeat left center/auto 16px;
    padding-left: 31px; }
  .slider-location .casa-span-number-four,
  .slider-location .kapalua-span-number-four {
    margin-left: 22px;
    background: url(../images/icon/beachfront.png) no-repeat left center/auto 16px;
    padding: 0 10px;
    vertical-align: middle; }
  .slider-location .casa-span-number-three,
  .slider-location .kapalua-span-number-three,
  .slider-location .jaguar-span-number-three {
    margin-left: 22px;
    background: url(../images/icon/pool.png) no-repeat left center/auto 16px;
    padding: 0 10px;
    vertical-align: middle; }
  .slider-location h3 {
    margin: 30px 20px 0; }

@media (max-width: 598px) {
  .slider-location .card-thalie,
  .slider-location .card-kapalua,
  .slider-location .card-jaguar,
  .slider-location .card-casa {
    flex-direction: column;
    width: 278px; }
  .info-thalie,
  .info-kapalua,
  .info-jaguar,
  .info-casa {
    text-align: center;
    margin-bottom: 20px; } }

.owl-carousel.owl-carousel .owl-item img {
  width: auto; }

.owl-theme.owl-theme .owl-dots .owl-dot span {
  background: #d6cbcb;
  border-radius: 0px;
  transform: rotate(45deg);
  border: 0; }

.owl-theme.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: black; }

.owl-theme .owl-dots .owl-dot {
  outline: none; }

.no-js .owl-carousel, .owl-carousel.owl-loaded.owl-carousel.owl-loaded {
  display: flex;
  flex-direction: column-reverse; }

.owl-theme.owl-theme .owl-nav.disabled + .owl-dots {
  margin-bottom: 20px;
  margin-top: 0;
  display: block; }

.owl-theme.owl-theme .owl-dots .owl-dot span {
  width: 6px;
  height: 6px;
  transition: 0.1s padding linear; }

.owl-theme.owl-theme .owl-dots .owl-dot:hover span {
  background: none; }

.owl-theme.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:focus span {
  background: black;
  width: 9px;
  height: 9px; }

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  vertical-align: middle; }

.owl-theme.owl-theme .owl-dots .owl-dot span {
  background: #ecf0f1;
  border-radius: 0px;
  transform: rotate(45deg);
  border: 1px solid; }

.card-column {
  display: flex;
  flex-direction: column;
  align-items: center; }

.card-jaguar,
.card-casa {
  margin-top: 30px; }

.slider-diff {
  display: flex;
  margin-bottom: 101px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 10px; }
  .slider-diff .tailor,
  .slider-diff .exq-service,
  .slider-diff .best-exp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 400px; }
    .slider-diff .tailor h3,
    .slider-diff .tailor p,
    .slider-diff .exq-service h3,
    .slider-diff .exq-service p,
    .slider-diff .best-exp h3,
    .slider-diff .best-exp p {
      margin: 0;
      text-align: center; }
    .slider-diff .tailor h3,
    .slider-diff .exq-service h3,
    .slider-diff .best-exp h3 {
      margin: 24px 0 16px 0;
      position: relative; }
    .slider-diff .tailor p,
    .slider-diff .exq-service p,
    .slider-diff .best-exp p {
      width: 350px;
      height: 150px; }
  .slider-diff .title-tailor::after {
    content: url(../images/icon/Vector_Smart_Object.png);
    position: absolute;
    bottom: 220%;
    left: 39%;
    opacity: 1; }
  .slider-diff .title-best::after {
    content: url(../images/icon/Vector_Smart_Object_ram.png);
    position: absolute;
    bottom: 203%;
    left: 35.5%;
    opacity: 1; }
  .slider-diff .title-servise::after {
    content: url(../images/icon/123.png);
    position: absolute;
    bottom: 210%;
    left: 35.1%;
    opacity: 1; }
  .slider-diff .icon-bg-t {
    background: url(../images/icon/dark_polygon03.png) no-repeat, url(../images/icon/Ellipse_1_copy.png) no-repeat;
    background-position: top 32% left 50%,top 32% left 50%; }
  .slider-diff .icon-bg-b {
    background: url(../images/icon/dark_polygon03.png) no-repeat, url(../images/icon/Ellipse_1_copy.png) no-repeat;
    background-position: top 32% left 50%,top 32% left 50%; }
  .slider-diff .icon-bg-e {
    background: url(../images/icon/dark_polygon03.png) no-repeat, url(../images/icon/Ellipse_1_copy.png) no-repeat;
    background-position: top 32% left 50%,top 32% left 50%; }

@media (max-width: 420px) {
  .slider-diff.slider-diff p {
    font-size: 12px;
    width: 250px;
    transition: 0.3s linear; } }

.bg-footer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 570px;
  background: url(../images/palm.png) no-repeat center;
  background-size: cover; }

.form-footer {
  display: flex;
  flex-direction: column;
  width: 391px;
  height: 400px;
  background-color: #ffffff;
  margin-right: 179px;
  padding-left: 44px; }
  .form-footer h3 {
    margin: 42px 0 33px 0; }
  .form-footer input {
    border: 0;
    border-bottom: 1px solid #cccccc;
    width: 305px;
    margin-bottom: 30px;
    outline: none;
    cursor: pointer;
    padding-left: 5px; }
  .form-footer input:hover {
    color: #454851;
    border-color: #454851; }
  .form-footer .btn-footer {
    width: 97px;
    height: 41px;
    background-color: #f31131;
    border: 0;
    border-radius: 20px;
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1.05px;
    margin-top: 61px;
    transition: 0.3s linear; }
  .form-footer .btn-footer:hover {
    background-color: #5552eb; }

@media (max-width: 800px) {
  .form-footer {
    margin: 0;
    margin: 0 auto; } }

@media (max-width: 455px) {
  .bg-footer {
    background: none;
    height: 350px; } }

@media (max-width: 340px) {
  .form-footer {
    margin-left: 20px; }
  .form-footer h3 {
    margin-left: 50px; }
  .form-footer .btn-footer {
    margin-left: 50px; }
  .form-footer input {
    margin-left: 50px; } }

footer {
  background: #171d1c;
  width: 100%; }

.all-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 48px; }
  .all-list ul {
    padding: 0;
    margin: 0;
    list-style-type: none; }
    .all-list ul li {
      margin-bottom: 4px; }
      .all-list ul li a {
        text-decoration: none;
        font-size: 14px;
        color: #ffffff; }
      .all-list ul li h4 {
        font-size: 16px;
        color: #ffffff;
        margin: 0;
        font-weight: 600;
        margin-bottom: 5px; }
  .all-list .destin-list {
    column-count: 2; }
    .all-list .destin-list .title-pop {
      width: 148.83px; }
    .all-list .destin-list li {
      page-break-inside: avoid;
      break-inside: avoid;
      margin-bottom: 4px;
      width: 126px; }
    .all-list .destin-list li:nth-child(10n) {
      padding-top: 25px; }
  .all-list .info-list {
    margin-left: 7%; }
  .all-list .exper-list,
  .all-list .themes-list,
  .all-list .destin-list,
  .all-list .list-coor {
    margin-left: 5%; }
  .all-list .list-adress {
    margin-right: 10.5%; }
  .all-list .info-list ul {
    margin-left: 0; }
  .all-list .list-adress {
    text-align: right; }
    .all-list .list-adress h4 {
      margin-top: 25px; }

@media (max-width: 1083px) {
  .all-list {
    margin-bottom: 20px; }
  .all-list .list-adress {
    margin-right: 1%;
    transition: 0.3s margin-right linear; }
  .all-list .info-list {
    margin-left: 1%;
    transition: 0.3s margin-left linear; } }

@media (max-width: 940px) {
  .all-list .list-adress {
    text-align: right; }
  .all-list .info-list {
    margin-left: 3%; } }

@media (max-width: 745px) {
  .all-list {
    justify-content: space-between; }
  .all-list .info-list {
    margin-left: 4%; }
  .all-list .destin-list {
    margin-left: 4%;
    margin-top: 20px; }
  .all-list .themes-list {
    margin-right: 4%; }
  .all-list .list-adress {
    margin-right: 4%;
    margin-top: 20px; } }

@media (max-width: 507px) {
  .all-list .destin-list {
    column-count: 1; }
  .all-list .destin-list .title-pop {
    width: 148.83px; }
  .all-list .destin-list li:nth-child(10n) {
    padding-top: 0; } }

@media (max-width: 392px) {
  .all-list {
    flex-direction: column;
    align-items: center; }
    .all-list .info-list,
    .all-list .destin-list,
    .all-list .exper-list,
    .all-list .themes-list,
    .all-list .list-adress {
      margin-left: 0;
      margin-right: 0;
      text-align: center;
      margin-top: 20px;
      border: 1px solid white;
      width: 195px; }
    .all-list .destin-list li {
      width: 195px; }
    .all-list .destin-list .title-pop {
      width: 193.83px; } }

/*# sourceMappingURL=style.css.map */
